apiVersion: v1
kind: ConfigMap
metadata:
  name: crypto-key-api-configmap
  namespace: dpki
data:
  config.yaml: |+
    APP:
      IP: "localhost"
      PORT: "9090"
      TIMEOUT: 60  
      CONTEXT:
        CRYPTO: "/ktb/blockchain/v1/crypto"
      SWAGGER:
        HOST: "localhost:9090"

    LOG:
      LEVEL: "debug"
      ENV: "dev"